body{
    background-color: brown ;
}

#Hi{
    color: blue;
    background-color: aquamarine;
    width: 40px;
}

#header{
    border-style: dotted;
    text-align: center;
    margin-right: 500px;
    margin-left: 550px;
    border: 10px solid purple;
    padding-left: 40px;
}

h1{
    height: 60px;
}

button{
    background-color: blue;
    color: aliceblue;
    margin-left: 600px;
    font-size: 20px;
    padding: 30px;
}

button:hover{
    background-color: gray;
    color: yellow;
}